# SvelteKit
/build
/.svelte-kit
/package

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Node modules
node_modules

# Environment variables
.env
.env.*
!.env.example

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# MacOS
.DS_Store

# IntelliJ
.idea